@import 'functions';

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Colors
$primary-color: hsl(179, 62%, 43%);
$secondary-color: hsl(71, 73%, 54%);
$text-color: hsl(218, 22%, 67%);

:root{
    --bg-color: hsl(204, 43%, 93%);
    --white-color: hsl(0, 0% , 100%);
    --sub-side-color: hsl(179, 47%, 52%);
    --secondary-text-color: hsl(180, 72%, 76%);
    --toggle-color: hsl(0,0%,20%);
    --why-us-color: hsl(0, 0% , 100%);
}

// Fonts
$karla: 'Karla', sans-serif;

.darkmode{
    --bg-color: hsl(204, 43%, 20%);
    --white-color: hsl(0, 0% , 15%);
    --sub-side-color: hsl(179, 85%, 40%);
    --secondary-text-color: hsl(180, 52%, 16%);
    --toggle-color: hsl(0,0%,80%);
    --why-us-color: hsl(0,0%,20%);

    .sub {
        h3, .access, .btn{
            color: #333;
        }

        .blue{
            .price{
                color: #333;
            }
        } 
    }
}

body{
  font-size: 16px;
  font-family: $karla;
  position: relative;
  background-color: var(--bg-color);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h2,h3{
    margin-bottom: 20px;
}

.gray{
  color: $text-color;
}

.blue{
    color: var(--secondary-text-color);
}

p{
  line-height: 1.26;
}

.btn{
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0 10px 20px rgba(54, 68, 85, 0.06), 0 6px 6px rgba(54,68,85,0.14);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  @include set-background($secondary-color);
  &:hover{
    transform: scale(0.98);
  }
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--toggle-color);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }

.wrapper{
    @include set-flex($align-items: center, $justify-content: center);
    min-height: 100vh;
    .container{
        max-width: 700px;
        margin: auto;
        overflow: hidden; 
        @include set-grid($align-items: center, $justify-content: center);
        grid-template-columns: repeat(2, 1fr);
        border-radius: 10px;
        box-shadow: 0 14px 45px rgba(164, 176, 185, 0.6), 0 14px 17px rgba(164,176,185,0.14);
        .description{
            background-color: var(--white-color);
            grid-column: 1/3;
            h2{
                color: $primary-color;
            }
            .guarantee{
                color: $secondary-color;
                font-weight: 700;
                margin-bottom: 15px;
            }
            .gray{
                line-height: 1.4
            }
        }
        .sub{
            @include set-background($primary-color);
            .blue{
                margin-bottom: 15px;
                strong{
                    font-size: 2rem;
                    color: var(--white-color);
                }
            }
            .access{
                margin-bottom: 17px
            }

        }
        .sub-side{
            background-color: var(--sub-side-color);
            h3{
                color: var(--why-us-color);
            }
        }
    }
    .container > * {
        padding: 40px 35px;
    } 
}


@media(max-width: 740px){
    .wrapper{
        padding: 80px 30px;
        .container{
            grid-template-columns: 1fr;
            .description{
                grid-column: 1/2;
            }
        }
    }
}